.header {
  position: absolute;
  top: var(--header-height);
  left: 0;
  width: 100%;
  height: var(--header-height);
  z-index: 15;
  padding: 0 7vw;
  display: flex;
  justify-content: space-between;

  &.menu_open {
    .logo {
      svg {
        path {
          fill: var(--background);
        }
      }
    }

    .container {
      .links {
        &:first-child::before {
          background: var(--background);
        }
      }

      a {
        color: var(--background);

        &.cta {
          background: var(--dark-accent);

          &:hover {
            background: var(--secondary);
          }
        }
      }
    }

    .button {
      .hamburger {
        background: transparent;

        &::before {
          transform: rotate(45deg);
          background: var(--background);
        }

        &::after {
          transform: rotate(-45deg);
          background: var(--background);
        }
      }
    }
  }

  &.fixed {
    position: fixed;
    top: 0;

    & ~ .background {
      box-shadow: rgb(0 0 0 / 16%) 0px 0px 8px;
      background: var(--background);
    }
  }

  &.white:not(.menu_open):not(.fixed) {
    .logo svg path {
      fill: var(--background);
      transition: unset;
    }

    .container .links {
      &:first-child::before {
        background: var(--background);
        transition: unset;
      }

      a {
        color: var(--background);
        transition: unset;
      }
    }

    .button {
      .hamburger {
        background: var(--background);
        transition: unset;

        &::before,
        &::after {
          background: var(--background);
          transition: unset;
        }
      }
    }
  }

  .logo {
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;

    svg {
      width: 160px;
      margin-left: -7px;

      path {
        fill: var(--accent);
        transition: 100ms ease-in;
      }

      rect {
        fill: var(--secondary);
      }
    }
  }

  .container {
    display: flex;
    align-items: center;

    .links {
      position: relative;
      height: 100%;
      display: none;
      align-items: center;

      &:first-child {
        margin-right: 1.5rem;

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          width: 1px;
          height: 2.5rem;
          background: var(--accent);
          transition: 100ms ease-in;
        }
      }

      a {
        margin-right: 1.5rem;
        font-size: 0.875rem;
        font-weight: 500;
        transition: 100ms ease-in;

        &.cta {
          padding: 0.75rem 1.75rem;
          border-radius: 2em;
          background: var(--accent);
          color: var(--background);

          &:hover {
            background: var(--dark-accent);
          }
        }

        &.search {
          font-size: 1.5rem;
          display: flex;
          align-items: center;
        }
      }
    }
  }

  .button {
    position: relative;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .hamburger {
      width: 100%;
      height: 2px;
      background: var(--accent);
      transition: 100ms ease-in;

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background: var(--accent);
        transition: 100ms ease-in;
      }

      &::before {
        transform: translateY(-8px);
      }

      &::after {
        transform: translateY(8px);
      }
    }
  }
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: var(--header-height);
  box-shadow: unset;
  background: transparent;
  transition: background 100ms ease-in;
}

@media screen and (min-width: 768px) {
  .header {
    .container {
      .links:nth-child(2) {
        display: flex;
      }
    }
  }
}

@media screen and (min-width: 1165px) {
  .header {
    .logo {
      svg {
        width: 180px;
      }
    }

    .container {
      .links {
        display: flex;
      }
    }
  }
}
