.label {
  width: 100%;
  height: var(--header-height);
  padding: 0 7vw;
  background: var(--secondary);
  position: relative;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    color: var(--background);
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    line-height: 1.5;

    span {
      margin-right: 0.25rem;
    }
  }
}
