.menu {
  position: absolute;
  top: var(--header-height);
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  padding: var(--header-height) 7vw 0;
  background: var(--accent);
  opacity: 0;
  visibility: hidden;
  transition: opacity 100ms ease-in, visibility 100ms ease-in;

  &.open {
    opacity: 1;
    visibility: visible;
  }

  &.fixed {
    position: fixed;
    top: 0;

    .content {
      padding-bottom: 2rem;
    }
  }

  .content {
    width: 100%;
    height: 100%;
    padding: 2rem 0 calc(2rem + var(--header-height));
    overflow: auto;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    .links,
    .buttons {
      display: flex;
      flex-direction: column;

      a,
      h3 {
        width: fit-content;
        color: var(--background);
        font-size: 2rem;
        font-weight: 600;
        text-transform: uppercase;
        cursor: pointer;
      }

      .mini_link {
        width: fit-content;
        color: var(--background);
        font-size: 1rem;
        font-weight: 500;
        text-transform: uppercase;
      }

      a:not(:first-child),
      .dropdown:not(:first-child),
      .mini_link:not(:first-child) {
        margin-top: 0.5rem;
      }

      .container {
        display: flex;
        flex-direction: column;
        overflow: hidden;

        a {
          margin: 0.5rem 0 0 1.5rem;
          font-size: 1.5rem;
          font-weight: 500;
          text-transform: capitalize;
        }
      }
    }

    .buttons {
      margin-top: 1rem;

      a {
        font-size: 1rem;
      }

      .search {
        margin-top: 1rem;
        color: var(--background);
        font-size: 1.5rem;
        display: flex;
        align-items: center;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .menu {
    .content {
      padding-top: 4rem;

      .buttons {
        display: none;
      }
    }
  }
}
