.hero_section {
  transform: translateX(-7vw);
  width: 100vw;
  min-height: 100vh;
  padding: 200px 7vw;
  background-image: url("https://www.onemedical.com/media/images/enterprise3x.original.jpg");
  background-size: cover;
  background-position: 50% 50%;
  color: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: center;

  .title {
    margin-top: 1rem;
    font-size: 3rem;
    font-weight: 800;
  }

  .subtitle {
    font-size: 1rem;
    font-weight: 600;
  }
}

.content {
  margin: 5rem 0;
  color: var(--accent);

  h2 {
    margin-top: 3rem;
    font-size: 2.25rem;
    font-weight: 600;
  }

  .container {
    h3 {
      margin: 2rem 0 1.5rem;
      font-size: 1.5rem;
      font-weight: 600;
    }

    h4 {
      margin-bottom: 0.25rem;
      font-size: 1rem;
      font-weight: 600;
    }

    p {
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.75;
    }

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }
}

@media screen and (min-width: 768px) {
  .hero_section {
    text-align: center;
    align-items: center;

    .title {
      max-width: 70vw;
    }
  }

  .content {
    max-width: 875px;
    margin: 5rem auto;

    h2 {
      font-size: 3rem;
      text-align: center;
    }

    .container {
      h3 {
        font-size: 1.75rem;
      }

      h4,
      p {
        font-size: 1.125rem;
      }
    }
  }
}

@media screen and (min-width: 1262px) {
  .hero_section {
    .title {
      font-size: 5.5rem;
    }
  }

  .content {
    h2 {
      font-size: 4.5rem;
    }

    .container {
      h3 {
        font-size: 2rem;
      }
    }
  }
}
