.hero_section {
  margin-top: 50px;
  padding: 2.5rem 0 0;
  display: flex;
  flex-direction: column;

  .column {
    .title {
      margin-bottom: 1rem;
      color: var(--accent);
      font-size: 2.5rem;
      font-weight: 600;
      line-height: 1;
    }

    p {
      color: var(--accent);
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.4;
    }

    .button_fill {
      width: fit-content;
      height: fit-content;
      margin: 1rem 0;
      padding: 1rem 2rem;
      border-radius: 2rem;
      background: var(--accent);
      color: var(--background);
      font-size: 1rem;
      font-weight: 500;
      white-space: nowrap;
      cursor: pointer;
      transition: 100ms ease-in;

      &:hover {
        background: var(--dark-accent);
      }
    }

    .button_outline {
      width: fit-content;
      height: fit-content;
      padding: 1rem 2rem;
      border-radius: 2rem;
      border: 1px solid var(--line);
      background: var(--background);
      color: var(--accent);
      font-size: 1rem;
      font-weight: 500;
      white-space: nowrap;
      cursor: pointer;
    }

    a {
      width: fit-content;
      margin-top: 1rem;
      color: var(--accent);
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        font-size: 1rem;
        font-weight: 600;
      }

      svg {
        font-size: 1rem;
        cursor: pointer;
        transition: 150ms ease-in;
      }

      &:hover > svg {
        transform: translateX(0.25rem);
      }
    }
  }

  .column:last-child {
    position: relative;
    width: calc(100% + 14vw);
    height: 65vw;
    margin: calc(10vw + 3rem) -7vw 0;
    background: var(--light-accent);

    .box {
      position: absolute;

      .container {
        position: relative;
        width: 100%;
        height: 100%;
      }

      .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .box:first-child {
      top: -10vw;
      left: 7vw;
      width: 50vw;
      height: 65vw;
    }

    .box:last-child {
      right: 7vw;
      bottom: 5vw;
      width: 50vw;
      height: 30vw;
    }
  }
}

.slideshow {
  margin: 3.5rem auto;
  text-align: center;

  .title {
    font-size: 3rem;
    font-weight: 700;
    color: var(--accent);
  }

  .container {
    position: relative;
    height: 70px;
    margin: 0 auto 0.25rem;
    overflow: hidden;

    h2 {
      font-size: 3rem;
      font-weight: 700;
      color: var(--secondary);
      position: absolute;
      width: 100%;
    }
  }

  a {
    width: fit-content;
    margin: 0 auto;
    color: var(--accent);
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      font-size: 1rem;
      font-weight: 600;
    }

    svg {
      font-size: 1rem;
      cursor: pointer;
      transition: 150ms ease-in;
    }

    &:hover > svg {
      transform: translateX(0.25rem);
    }
  }
}

.items {
  margin: 0 auto 3.5rem;

  .subtitle {
    margin-bottom: 1rem;
    color: var(--accent);
    font-size: 2.25rem;
    font-weight: 700;
  }

  p {
    color: var(--accent);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;

    & > span {
      margin-right: 0.3rem;
    }

    a {
      width: fit-content;
      color: var(--accent);
      display: inline-flex;
      justify-content: center;
      align-items: center;

      span {
        font-size: 1rem;
        font-weight: 600;
      }

      svg {
        font-size: 1rem;
        cursor: pointer;
        transition: 150ms ease-in;
      }

      &:hover > svg {
        transform: translateX(0.25rem);
      }
    }
  }

  .grid {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr;

    .item {
      display: flex;

      .wrapper {
        position: relative;
        min-width: 75px;
        height: 100%;
        max-height: 50px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
  }

  .caption {
    margin-top: 2rem;
    color: var(--accent);
    font-size: 1.5rem;
    font-weight: 700;
  }

  .button_fill {
    width: fit-content;
    height: fit-content;
    margin-top: 1rem;
    padding: 1rem 3rem;
    border-radius: 2rem;
    background: var(--accent);
    color: var(--background);
    font-size: 1rem;
    font-weight: 500;
    white-space: nowrap;
    cursor: pointer;
    transition: 100ms ease-in;

    &:hover {
      background: var(--dark-accent);
    }
  }
}

@media screen and (min-width: 768px) {
  .hero_section {
    height: 800px;

    .column:first-child {
      position: relative;
      z-index: 1;
      max-width: 45%;
      padding-top: 1.5rem;

      .title {
        font-size: 60px;
      }

      p {
        font-size: 18px;
      }
    }

    .column:last-child {
      position: absolute;
      top: 66px;
      right: 0;
      width: 45vw;
      height: 800px;
      margin: 0;

      .box:first-child {
        top: 16.5%;
        right: 0;
        left: unset;
        width: 33vw;
        height: 45vw;
        min-height: 475px;
      }

      .box:last-child {
        bottom: 7.5%;
        left: -15%;
        width: 40vw;
        height: 25vw;
      }
    }
  }

  .slideshow {
    .title,
    .container {
      h2 {
        font-size: 3.75rem;
      }
    }

    .container {
      height: 85px;
    }
  }

  .items {
    text-align: center;

    .subtitle {
      max-width: 500px;
      margin: 0 auto 1.5rem;
      font-size: 3rem;
    }

    p {
      max-width: 500px;
      margin: 0 auto;
      font-size: 18px;
    }

    .grid {
      margin-top: 3rem;
      grid-template-columns: 1fr 1fr;
      grid-gap: 2rem;

      .item {
        flex-direction: column;

        .wrapper {
          max-width: 300px;
          height: 100px;
          max-height: 100px;
          margin: 0 auto;
        }
      }
    }

    .caption {
      max-width: 500px;
      margin: 2rem auto 0;
      font-size: 1.75rem;
    }

    .button_fill {
      margin: 1rem auto 0;
    }
  }
}

@media screen and (min-width: 850px) {
  .hero_section {
    .column {
      .buttons {
        display: flex;
        margin: 1rem 0;

        .button_fill {
          margin: 0;
          margin-right: 1rem;
        }
      }
    }
  }
}

@media screen and (min-width: 1262px) {
  .hero_section {
    .column:last-child {
      .box:first-child {
        width: 33vw;
        max-width: 450px;
        height: 550px;
      }

      .box:last-child {
        width: 40vw;
        max-width: 500px;
        height: 325px;
      }
    }
  }

  .slideshow {
    .title,
    .container h2 {
      font-size: 5.5rem;
    }

    .container {
      height: 120px;
    }
  }

  .items {
    .subtitle {
      max-width: 750px;
      margin: 0 auto 2rem;
      font-size: 4.5rem;
    }

    .grid {
      grid-template-columns: repeat(3, 1fr);
    }

    .caption {
      font-size: 2rem;
    }
  }
}
